In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

# Выгрузка данных в DataFrame из .ods файла
df_odd = pd.read_excel('C:/Users/Igor/Downloads/even/nl-odd-week.ods', engine="odf")
df_odd.columns = ['empty_1','line','route','train','empty_2','station','short_1','short_2','arrival','departure',
                  'empty_3','empty_4','train_action','empty_5','passengers']

df_even = pd.read_excel('C:/Users/Igor/Downloads/even/nl-even-week.ods', engine="odf")
df_even.columns = ['empty_1','line','route','train','empty_2','station','short_1','short_2','arrival','departure',
                  'empty_3','empty_4','train_action','empty_5','passengers']

# Functions (Функции)

In [3]:
def df_time_filler(df, t):
    df['arrival'] = df['arrival'].astype(str).apply(lambda x: None if x.strip() == '' else x)
    df['arrival'] = df['arrival'].astype(str).apply(lambda x: '{0}:{0}:{0}'.format(t) if x.strip() == 'nan' else x)
    df['departure'] = df['departure'].astype(str).apply(lambda x: None if x.strip() == '' else x)
    df['departure'] = df['departure'].astype(str).apply(lambda x: '{0}:{0}:{0}'.format(t) if x.strip() == 'nan' else x)
    df['arrival'] = pd.to_datetime(df_odd['arrival'])
    df['departure'] = pd.to_datetime(df_odd['departure'])
    
def df_morning(df, night_hour_cut):
    print('row count before cut is: ', df.shape[0])
    df.drop(df[(df['arrival'].dt.hour >= night_hour_cut) & 
               (df['arrival'].dt.hour < 4)].index, inplace=True)
    df.drop(df[(df['departure'].dt.hour >= night_hour_cut) & 
               (df['departure'].dt.hour < 4)].index, inplace=True)
    print('row count after cut is: ', df.shape[0])
    
def df_night(df, night_hour_cut):
    print('row count before cut is: ', df.shape[0])
    df = df[(df['arrival'].dt.hour >= night_hour_cut) & 
            (df['arrival'].dt.hour < 4)]
    df = df[(df['departure'].dt.hour >= night_hour_cut) & 
            (df['departure'].dt.hour < 4)]
    print('row count after cut is: ', df.shape[0])
    
def short_filler(station, short):
    df_odd.loc[df_odd['station'] == station, ('short_1', 'short_2')] = short
    
def line_revers(df):
    df['line'] = (df['line'] == 2).astype(int)
    df.loc[df['line'] == 0, 'line'] = 2

In [4]:
df_time_filler(df_odd, 13)

In [5]:
night_hour_cut = 1
df_morning(df_odd, night_hour_cut)

row count before cut is:  6272
row count after cut is:  6161

In [6]:
station = 'Электрозаводская'
short = 'rbc'
short_filler(station, short)

In [7]:
line_revers(df_odd)
display(df_odd.head(10))

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
0,NaN,2,1,40,NaN,Электрозаводская,rbc,rbc,2021-10-12 13:13:13,2021-10-12 07:11:15,NaN,NaN,4,NaN,0
1,NaN,2,1,40,NaN,Лефортово,lft,lft,2021-10-12 07:13:50,2021-10-12 07:14:20,NaN,NaN,0,NaN,0
2,NaN,2,1,40,NaN,Авиамоторная,avn,avn,2021-10-12 07:16:20,2021-10-12 07:16:50,NaN,NaN,0,NaN,0
3,NaN,2,1,40,NaN,Нижегородская,njg,njg,2021-10-12 07:20:50,2021-10-12 07:21:20,NaN,NaN,0,NaN,0
4,NaN,2,1,40,NaN,Стахановская улица,sth,sth,2021-10-12 07:23:15,2021-10-12 07:23:40,NaN,NaN,0,NaN,0
5,NaN,2,1,40,NaN,Окская улица,oks,oks,2021-10-12 07:26:00,2021-10-12 07:26:25,NaN,NaN,0,NaN,0
6,NaN,2,1,40,NaN,Юго-Восточная,uyv,uyv,2021-10-12 07:29:45,2021-10-12 07:30:10,NaN,NaN,0,NaN,0
7,NaN,2,1,40,NaN,Косино,ksn,ksn,2021-10-12 07:32:45,2021-10-12 07:33:15,NaN,NaN,0,NaN,0
8,NaN,2,1,40,NaN,Улица Дмитриевского,udm,udm,2021-10-12 07:35:40,2021-10-12 07:36:05,NaN,NaN,0,NaN,0
9,NaN,2,1,40,NaN,Лухмановская,lhm,lhm,2021-10-12 07:37:50,2021-10-12 07:40:15,NaN,NaN,0,NaN,0

In [7]:
display(df_even.head(10))
df_even.info()

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
0,NaN,1,1,40,NaN,Электрозаводская,rbc,rbc,NaN,07:11:15,NaN,NaN,4,NaN,0
1,NaN,1,1,40,NaN,Лефортово,lft,lft,07:13:50,07:14:20,NaN,NaN,0,NaN,0
2,NaN,1,1,40,NaN,Авиамоторная,avn,avn,07:16:20,07:16:50,NaN,NaN,0,NaN,0
3,NaN,1,1,40,NaN,Нижегородская,njg,njg,07:20:50,07:21:20,NaN,NaN,0,NaN,0
4,NaN,1,1,40,NaN,Стахановская улица,sth,sth,07:23:15,07:23:40,NaN,NaN,0,NaN,0
5,NaN,1,1,40,NaN,Окская улица,oks,oks,07:26:00,07:26:25,NaN,NaN,0,NaN,0
6,NaN,1,1,40,NaN,Юго-Восточная,uyv,uyv,07:29:45,07:30:10,NaN,NaN,0,NaN,0
7,NaN,1,1,40,NaN,Косино,ksn,ksn,07:32:45,07:33:15,NaN,NaN,0,NaN,0
8,NaN,1,1,40,NaN,Улица Дмитриевского,udm,udm,07:35:40,07:36:05,NaN,NaN,0,NaN,0
9,NaN,1,1,40,NaN,Лухмановская,lhm,lhm,07:37:50,07:40:15,NaN,NaN,0,NaN,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6258 entries, 0 to 6257
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   empty_1       0 non-null      float64
 1   line          6258 non-null   int64
 2   route         6258 non-null   int64
 3   train         6258 non-null   int64
 4   empty_2       0 non-null      float64
 5   station       6258 non-null   object
 6   short_1       6258 non-null   object
 7   short_2       6258 non-null   object
 8   arrival       5684 non-null   object
 9   departure     5684 non-null   object
 10  empty_3       0 non-null      float64
 11  empty_4       0 non-null      float64
 12  train_action  6258 non-null   int64
 13  empty_5       0 non-null      float64
 14  passengers    6258 non-null   int64
dtypes: float64(5), int64(5), object(5)
memory usage: 733.5+ KB

In [8]:
df_even['arrival'] = df_even['arrival'].astype(str).apply(lambda x: None if x.strip() == '' else x)
df_even['arrival'] = df_even['arrival'].astype(str).apply(lambda x: '01:01:01' if x.strip() == 'nan' else x)
df_even['departure'] = df_even['departure'].astype(str).apply(lambda x: None if x.strip() == '' else x)
df_even['departure'] = df_even['departure'].astype(str).apply(lambda x: '01:01:01' if x.strip() == 'nan' else x)
df_even['arrival'] = pd.to_datetime(df_even['arrival'])
df_even['departure'] = pd.to_datetime(df_even['departure'])

In [9]:
df_even = df_even[(df_even['arrival'].dt.hour >= 1) & (df_even['arrival'].dt.hour < 4)]
df_even = df_even[(df_even['departure'].dt.hour >= 1) & (df_even['departure'].dt.hour < 4)]
#df_even.drop(df_even[(df_even['arrival'].dt.hour >= 1) & (df_even['arrival'].dt.hour < 4)].index, inplace=True)
#df_even.drop(df_even[(df_even['departure'].dt.hour >= 1) & (df_even['departure'].dt.hour < 4)].index, inplace=True)
display(df_even.head(10))
df_even.info()

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
329,NaN,1,2,6308,NaN,Электрозаводская,rbc,rbc,2021-10-12 01:01:01,2021-10-12 01:26:30,NaN,NaN,4,NaN,1
330,NaN,1,2,6308,NaN,Лефортово,lft,lft,2021-10-12 01:29:05,2021-10-12 01:29:05,NaN,NaN,0,NaN,1
331,NaN,1,2,6308,NaN,Авиамоторная,avn,avn,2021-10-12 01:31:05,2021-10-12 01:31:05,NaN,NaN,0,NaN,1
332,NaN,1,2,6308,NaN,Нижегородская,njg,njg,2021-10-12 01:35:05,2021-10-12 01:35:05,NaN,NaN,0,NaN,1
333,NaN,1,2,6308,NaN,Стахановская улица,sth,sth,2021-10-12 01:37:00,2021-10-12 01:37:00,NaN,NaN,0,NaN,1
334,NaN,1,2,6308,NaN,Окская улица,oks,oks,2021-10-12 01:39:20,2021-10-12 01:39:20,NaN,NaN,0,NaN,1
335,NaN,1,2,6308,NaN,Юго-Восточная,uyv,uyv,2021-10-12 01:42:40,2021-10-12 01:42:40,NaN,NaN,0,NaN,1
336,NaN,1,2,6308,NaN,Косино,ksn,ksn,2021-10-12 01:45:15,2021-10-12 01:45:15,NaN,NaN,0,NaN,1
337,NaN,1,2,6308,NaN,Улица Дмитриевского,udm,udm,2021-10-12 01:47:40,2021-10-12 01:47:40,NaN,NaN,0,NaN,1
338,NaN,1,2,6308,NaN,Лухмановская,lhm,lhm,2021-10-12 01:49:25,2021-10-12 01:01:01,NaN,NaN,2,NaN,1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 329 to 5576
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   empty_1       0 non-null      float64
 1   line          109 non-null    int64
 2   route         109 non-null    int64
 3   train         109 non-null    int64
 4   empty_2       0 non-null      float64
 5   station       109 non-null    object
 6   short_1       109 non-null    object
 7   short_2       109 non-null    object
 8   arrival       109 non-null    datetime64[ns]
 9   departure     109 non-null    datetime64[ns]
 10  empty_3       0 non-null      float64
 11  empty_4       0 non-null      float64
 12  train_action  109 non-null    int64
 13  empty_5       0 non-null      float64
 14  passengers    109 non-null    int64
dtypes: datetime64[ns](2), float64(5), int64(5), object(3)
memory usage: 13.6+ KB

In [10]:
df_even.loc[df_even['station'] == 'Электрозаводская', ('short_1', 'short_2')] = 'rbc'
display(df_even.head(10))

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
329,NaN,1,2,6308,NaN,Электрозаводская,rbc,rbc,2021-10-12 01:01:01,2021-10-12 01:26:30,NaN,NaN,4,NaN,1
330,NaN,1,2,6308,NaN,Лефортово,lft,lft,2021-10-12 01:29:05,2021-10-12 01:29:05,NaN,NaN,0,NaN,1
331,NaN,1,2,6308,NaN,Авиамоторная,avn,avn,2021-10-12 01:31:05,2021-10-12 01:31:05,NaN,NaN,0,NaN,1
332,NaN,1,2,6308,NaN,Нижегородская,njg,njg,2021-10-12 01:35:05,2021-10-12 01:35:05,NaN,NaN,0,NaN,1
333,NaN,1,2,6308,NaN,Стахановская улица,sth,sth,2021-10-12 01:37:00,2021-10-12 01:37:00,NaN,NaN,0,NaN,1
334,NaN,1,2,6308,NaN,Окская улица,oks,oks,2021-10-12 01:39:20,2021-10-12 01:39:20,NaN,NaN,0,NaN,1
335,NaN,1,2,6308,NaN,Юго-Восточная,uyv,uyv,2021-10-12 01:42:40,2021-10-12 01:42:40,NaN,NaN,0,NaN,1
336,NaN,1,2,6308,NaN,Косино,ksn,ksn,2021-10-12 01:45:15,2021-10-12 01:45:15,NaN,NaN,0,NaN,1
337,NaN,1,2,6308,NaN,Улица Дмитриевского,udm,udm,2021-10-12 01:47:40,2021-10-12 01:47:40,NaN,NaN,0,NaN,1
338,NaN,1,2,6308,NaN,Лухмановская,lhm,lhm,2021-10-12 01:49:25,2021-10-12 01:01:01,NaN,NaN,2,NaN,1

In [11]:
df_even['line'] = (df_even['line'] == 2).astype(int)
df_even.loc[df_even['line'] == 0, 'line'] = 2
display(df_even.head(10))

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
329,NaN,2,2,6308,NaN,Электрозаводская,rbc,rbc,2021-10-12 01:01:01,2021-10-12 01:26:30,NaN,NaN,4,NaN,1
330,NaN,2,2,6308,NaN,Лефортово,lft,lft,2021-10-12 01:29:05,2021-10-12 01:29:05,NaN,NaN,0,NaN,1
331,NaN,2,2,6308,NaN,Авиамоторная,avn,avn,2021-10-12 01:31:05,2021-10-12 01:31:05,NaN,NaN,0,NaN,1
332,NaN,2,2,6308,NaN,Нижегородская,njg,njg,2021-10-12 01:35:05,2021-10-12 01:35:05,NaN,NaN,0,NaN,1
333,NaN,2,2,6308,NaN,Стахановская улица,sth,sth,2021-10-12 01:37:00,2021-10-12 01:37:00,NaN,NaN,0,NaN,1
334,NaN,2,2,6308,NaN,Окская улица,oks,oks,2021-10-12 01:39:20,2021-10-12 01:39:20,NaN,NaN,0,NaN,1
335,NaN,2,2,6308,NaN,Юго-Восточная,uyv,uyv,2021-10-12 01:42:40,2021-10-12 01:42:40,NaN,NaN,0,NaN,1
336,NaN,2,2,6308,NaN,Косино,ksn,ksn,2021-10-12 01:45:15,2021-10-12 01:45:15,NaN,NaN,0,NaN,1
337,NaN,2,2,6308,NaN,Улица Дмитриевского,udm,udm,2021-10-12 01:47:40,2021-10-12 01:47:40,NaN,NaN,0,NaN,1
338,NaN,2,2,6308,NaN,Лухмановская,lhm,lhm,2021-10-12 01:49:25,2021-10-12 01:01:01,NaN,NaN,2,NaN,1

In [12]:
df_odd_even = pd.concat([df_odd, df_even])
display(df_odd_even.head(10))
df_odd_even.info()

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
0,NaN,2,1,40,NaN,Электрозаводская,rbc,rbc,2021-10-12 13:13:13,2021-10-12 07:11:15,NaN,NaN,4,NaN,0
1,NaN,2,1,40,NaN,Лефортово,lft,lft,2021-10-12 07:13:50,2021-10-12 07:14:20,NaN,NaN,0,NaN,0
2,NaN,2,1,40,NaN,Авиамоторная,avn,avn,2021-10-12 07:16:20,2021-10-12 07:16:50,NaN,NaN,0,NaN,0
3,NaN,2,1,40,NaN,Нижегородская,njg,njg,2021-10-12 07:20:50,2021-10-12 07:21:20,NaN,NaN,0,NaN,0
4,NaN,2,1,40,NaN,Стахановская улица,sth,sth,2021-10-12 07:23:15,2021-10-12 07:23:40,NaN,NaN,0,NaN,0
5,NaN,2,1,40,NaN,Окская улица,oks,oks,2021-10-12 07:26:00,2021-10-12 07:26:25,NaN,NaN,0,NaN,0
6,NaN,2,1,40,NaN,Юго-Восточная,uyv,uyv,2021-10-12 07:29:45,2021-10-12 07:30:10,NaN,NaN,0,NaN,0
7,NaN,2,1,40,NaN,Косино,ksn,ksn,2021-10-12 07:32:45,2021-10-12 07:33:15,NaN,NaN,0,NaN,0
8,NaN,2,1,40,NaN,Улица Дмитриевского,udm,udm,2021-10-12 07:35:40,2021-10-12 07:36:05,NaN,NaN,0,NaN,0
9,NaN,2,1,40,NaN,Лухмановская,lhm,lhm,2021-10-12 07:37:50,2021-10-12 07:40:15,NaN,NaN,0,NaN,0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6270 entries, 0 to 5576
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   empty_1       0 non-null      float64
 1   line          6270 non-null   int32
 2   route         6270 non-null   int64
 3   train         6270 non-null   object
 4   empty_2       0 non-null      float64
 5   station       6270 non-null   object
 6   short_1       6270 non-null   object
 7   short_2       6270 non-null   object
 8   arrival       6270 non-null   datetime64[ns]
 9   departure     6270 non-null   datetime64[ns]
 10  empty_3       0 non-null      float64
 11  empty_4       0 non-null      float64
 12  train_action  6270 non-null   int64
 13  empty_5       0 non-null      float64
 14  passengers    6270 non-null   int64
dtypes: datetime64[ns](2), float64(5), int32(1), int64(3), object(4)
memory usage: 759.3+ KB

In [13]:
df_arrival_departure_error = df_odd_even.loc[(df_odd_even['arrival'].dt.time >= df_odd_even['departure'].dt.time)]
df_arrival_departure_error = df_arrival_departure_error.loc[:, ['route', 'train', 'station', 'arrival', 
                                                                'departure','train_action','passengers']]
print('row count is: ', df_arrival_departure_error.shape[0]) 
df_arrival_departure_error.drop(df_arrival_departure_error[(df_arrival_departure_error['arrival'].dt.time == df_arrival_departure_error['departure'].dt.time) & 
                                                           (df_arrival_departure_error['passengers'] == 1)].index, inplace=True)
print('row count without empty trains is: ', df_arrival_departure_error.shape[0])
print('row count without reversal is: ', (df_arrival_departure_error.train.value_counts()>2).sum())

row count is:  632
row count without empty trains is:  587
row count without reversal is:  0

In [14]:
df_odd_even['arrival'] = [time.time() for time in df_odd_even['arrival']]
df_odd_even['departure'] = [time.time() for time in df_odd_even['departure']]
display(df_odd_even.head(10))
df_odd_even.info()

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
0,NaN,2,1,40,NaN,Электрозаводская,rbc,rbc,13:13:13,07:11:15,NaN,NaN,4,NaN,0
1,NaN,2,1,40,NaN,Лефортово,lft,lft,07:13:50,07:14:20,NaN,NaN,0,NaN,0
2,NaN,2,1,40,NaN,Авиамоторная,avn,avn,07:16:20,07:16:50,NaN,NaN,0,NaN,0
3,NaN,2,1,40,NaN,Нижегородская,njg,njg,07:20:50,07:21:20,NaN,NaN,0,NaN,0
4,NaN,2,1,40,NaN,Стахановская улица,sth,sth,07:23:15,07:23:40,NaN,NaN,0,NaN,0
5,NaN,2,1,40,NaN,Окская улица,oks,oks,07:26:00,07:26:25,NaN,NaN,0,NaN,0
6,NaN,2,1,40,NaN,Юго-Восточная,uyv,uyv,07:29:45,07:30:10,NaN,NaN,0,NaN,0
7,NaN,2,1,40,NaN,Косино,ksn,ksn,07:32:45,07:33:15,NaN,NaN,0,NaN,0
8,NaN,2,1,40,NaN,Улица Дмитриевского,udm,udm,07:35:40,07:36:05,NaN,NaN,0,NaN,0
9,NaN,2,1,40,NaN,Лухмановская,lhm,lhm,07:37:50,07:40:15,NaN,NaN,0,NaN,0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6270 entries, 0 to 5576
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   empty_1       0 non-null      float64
 1   line          6270 non-null   int32
 2   route         6270 non-null   int64
 3   train         6270 non-null   object
 4   empty_2       0 non-null      float64
 5   station       6270 non-null   object
 6   short_1       6270 non-null   object
 7   short_2       6270 non-null   object
 8   arrival       6270 non-null   object
 9   departure     6270 non-null   object
 10  empty_3       0 non-null      float64
 11  empty_4       0 non-null      float64
 12  train_action  6270 non-null   int64
 13  empty_5       0 non-null      float64
 14  passengers    6270 non-null   int64
dtypes: float64(5), int32(1), int64(3), object(6)
memory usage: 759.3+ KB

In [15]:
df_odd_even.loc[(df_odd_even['train_action'] == 4) | (df_odd_even['train_action'] == 6) | (df_odd_even['train_action'] == 1), 'arrival'] = ''
df_odd_even.loc[(df_odd_even['train_action'] == 3) | (df_odd_even['train_action'] == 5) | (df_odd_even['train_action'] == 2), 'departure'] = ''
display(df_odd_even.head(10))

,empty_1,line,route,train,empty_2,station,short_1,short_2,arrival,departure,empty_3,empty_4,train_action,empty_5,passengers
0,NaN,2,1,40,NaN,Электрозаводская,rbc,rbc,,07:11:15,NaN,NaN,4,NaN,0
1,NaN,2,1,40,NaN,Лефортово,lft,lft,07:13:50,07:14:20,NaN,NaN,0,NaN,0
2,NaN,2,1,40,NaN,Авиамоторная,avn,avn,07:16:20,07:16:50,NaN,NaN,0,NaN,0
3,NaN,2,1,40,NaN,Нижегородская,njg,njg,07:20:50,07:21:20,NaN,NaN,0,NaN,0
4,NaN,2,1,40,NaN,Стахановская улица,sth,sth,07:23:15,07:23:40,NaN,NaN,0,NaN,0
5,NaN,2,1,40,NaN,Окская улица,oks,oks,07:26:00,07:26:25,NaN,NaN,0,NaN,0
6,NaN,2,1,40,NaN,Юго-Восточная,uyv,uyv,07:29:45,07:30:10,NaN,NaN,0,NaN,0
7,NaN,2,1,40,NaN,Косино,ksn,ksn,07:32:45,07:33:15,NaN,NaN,0,NaN,0
8,NaN,2,1,40,NaN,Улица Дмитриевского,udm,udm,07:35:40,07:36:05,NaN,NaN,0,NaN,0
9,NaN,2,1,40,NaN,Лухмановская,lhm,lhm,07:37:50,07:40:15,NaN,NaN,0,NaN,0

In [16]:
df_odd_even_route = df_odd_even.drop_duplicates(['route'], keep='last')
df_odd_even_start_point = df_odd_even[df_odd_even['train_action'] == 1]
df_odd_even_end_point = df_odd_even[df_odd_even['train_action'] == 2]
print('route count is: ' + str(df_odd_even_route.shape[0])) 
print('start points count is: ' + str(df_odd_even_start_point.shape[0]))
print('end points count is: ' + str(df_odd_even_end_point.shape[0]))

route count is: 21
start points count is: 21
end points count is: 21

In [20]:
line_name = 'nl'
day_of_week = 'week'
df_odd_even.drop(['empty_1'], inplace = True, axis = 1)
df_odd_even.to_excel("{0}_odd_even_{1}.xlsx".format(line_name,day_of_week))